<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ControllerRebinder UI</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
